body{
	font-family: Arial;
}

#table-menu td{
	font-size:1.5em;
	padding-left:60px;
	align:left;
	text-align:left;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom: 1px solid black;
}

#table-menu td:hover { 
    background-color: orange;
}

#table-menu{
	min-width:100%;
	margin-left:auto; 
    margin-right:auto;
}

#header{
	display:inline-block;
	width:100%;
	max-height:500px;
	position:relative;
	float:left;
	overflow:hidden;
	
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
}

#header img{
	max-width:100%;
	max-height:auto;
}

#header h1{
	font-family: Arial;
	font-size: 2.5em;
	position: absolute; 
	color:white;
	margin:0;
	top:50%;
	bottom:50%;
	text-align:center;
	width:100%;
}

#sidebar{
	display:inline-block;
	width:13%;
	height:1000px;
	padding-right: 10px;
	border-right: 1px solid black;
	margin-top:5px;
	float:left;
}

#contents{
	margin-top:5px;
	margin-left:5px;
	display:inline-block;
	width:85%;
	height:1000px;
	background-color:orange;
	float:right;
}

#footer{
	margin-top:5px;
	display:inline-block;
	width:100%;
	height:300px;
	background-color:blue;
}
